@font-face {
    font-family: "Aleo";
    src: url("../fonts/Aleo-VariableFont_wght.ttf"),
        url("../fonts/Aleo-Italic-VariableFont_wght.ttf")
}

@font-face {
    font-family: "Besley";
    src: url("../fonts/Besley-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Besley";
    src: url("../fonts/Besley-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Lexend";
    src: url("../fonts/Lexend-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lexend Exa";
    src: url("../fonts/LexendExa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

:root {
    /* color-scheme: light dark; */

    --font-title: "Playfair Display", "Georgia", serif;
    --font-subtitle: "Lexend Exa", sans-serif;
    --font-heading: "Playfair Display", "Georgia", serif;
    --font-link: "Lexend Exa", sans-serif;
    --font-default-sans-serif: "Aleo", "Arial", sans-serif;
    --font-size-large: 3rem;

    /* Colors */
    --primary-color: #000A3C;
    --secondary-color: #7db5ff;
    --bg-color: light-dark(#FFFFFF, var(--primary-color));
    --text-color: #333333;
    --accent-color: #071E95;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-default-sans-serif);
    background-color: var(--bg-color);
}

h1 {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 3rem, 4rem);
    font-weight: 550;
    margin: 80px 0px 10px 0px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.cards {
    align-self: center;

    margin: 0px clamp(10%, 25vw, 500px);

    transition: padding 0.25s ease;
}

search {
    height: 100dvh;
    width: 100%;
    padding: min(30px, 10%) min(50px, 10%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: var(--primary-color);
    color: #FFFFFF;
}

hgroup.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 10px;
}

hgroup.title h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: clamp(1.75rem, calc(3.5vw + 0.1rem), 6rem);
    font-style: normal;
    text-align: center;
    letter-spacing: -0.075rem;
}

hgroup.title span {
    font-style: italic;
}

hgroup.title p {
    margin: 0;
    padding: 0;
    font-family: var(--font-subtitle);
    font-size: clamp(0.8rem, calc(1.35vw + 0.1rem), 2rem);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}

form.search-bar {
    display: flex;
    gap: 10px;
}

form.search-bar input[type="search"] {
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    border-bottom: 2px solid #FFFFFF;
    padding: 10px 20px;

    width: 50vw;
    max-width: 800px;
    min-width: 365px;

    font-family: "Lexend";
    font-size: clamp(1.0rem, 1vw, 1.2em);
    letter-spacing: 0.075rem;

    background-color: var(--primary-color);
    color: #FFFFFF;

    transition: background 0.1s ease;
}

form.search-bar input[type="search"]::placeholder {
    color: var(--secondary-color);
    letter-spacing: 0.25rem;
}

form.search-bar input[type="search"]::-webkit-search-cancel-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(90deg);
}

form.search-bar input[type="search"]:focus {
    outline: none;
}

.content-card {
    width: clamp(300px, 50%, 500px);
    padding: 30px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Lexend", "Times New Roman", serif;
    font-size: 1rem;
    text-align: left;

    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

.content-card-header {
    display: flex;
    justify-content: space-between;
}

.content-card h2 {
    margin: 0;
    padding: 0;

    font-family: "Lexend Exa";
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    line-height: 1.2;

    color: var(--primary-color);
}

.content-card span.numeral-and-series {
    font-family: "Besley";
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0rem;
}

.content-card .preview-container {
    box-sizing: content-box;
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 2px solid black;
    /* border-bottom: 2px solid black; */
}

.content-card .preview-text {
    max-height: 100px;
    overflow-y: hidden;

    font-weight: 350;

    background-image: linear-gradient(to bottom, #000000, rgb(0, 0, 0, 0));

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

p.link {
    margin: 0;
    font-family: var(--font-link);
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: right;
    text-transform: uppercase;

    color: var(--accent-color)
}

footer {
    background-color: var(--primary-color);
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 425px) {

    search {
        align-items: flex-start;
        justify-content: end;
    }

    hgroup.title h1 {
        text-align: left;
    }

    hgroup.title p {
        text-align: left;
        letter-spacing: 0.25rem;
    }

    form.search-bar {
        width: 100%;
    }

    form.search-bar input[type="search"] {
        width: 100%;
        min-width: 0px;
        max-width: none;

        padding: 5px 10px;
    }

    section.cards {
        padding: 0px 30px;
    }

}